.legend-card {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 250px;
    max-width: 90%;
    z-index: 900; /* Legend card diğer içeriklerin üstünde */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    font-family: 'Arial', sans-serif;

}

.legend-card.open {
    transform: translateY(0);
}

.legend-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #4a90e2;
    color: #ffffff;

    transition: background-color 0.3s ease;
}

.legend-header:hover {
    background-color: #0056b3;
}

.legend-content {
    padding: 15px;
    list-style: none;
    margin: 0;
}

.legend-content li {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 0.95rem;
    color: #333333;
}

.marker {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.blue-dot {
    background-color: blue;
}

.green-dot {
    background-color: green;
}

.yellow-dot {
    background-color: #f4f41c;
}

.orange-dot {
    background-color: #f57c00;
}

.purple-dot {
    background-color: purple;
}

/* Responsive adjustments for tablets */
@media (max-width: 768px) {
    .legend-card {
        width: 200px;
        right: 10px;
        top: 10px;
    }
    .legend-content li {
        font-size: 0.9rem;
    }
}

/* Responsive adjustments for mobile */
@media (max-width: 480px) {
    .legend-card {
        width: 180px;
        right: 10px;
        top: 10px;
    }
    .legend-header {
        font-size: 1rem;
    }
    .legend-content li {
        font-size: 0.85rem;
    }
}

/* Legend card'ın modal altında kalmasını engellemek için z-index ayarı */
.modal {
    z-index: 1100; /* Modal, legend card'dan daha yüksek z-index'e sahip olacak */
}
