/* index.css veya App.css */

/* Global CSS (index.css veya App.css) */

body, .layout, .content, .container {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}


body {

  transition: background-color 0.3s, color 0.3s;


}
