/* src/styles/Layout.css */

.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--background-color);
}

.content {
    flex: 1;
    margin-left: 220px; /* Sidebar genişliğini uygun şekilde ayarla */
    padding: 0;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 20px;
    }
}
