.sensorFormWrapper {
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7; /* Sayfa arka plan rengi */
    padding: 2rem;
}

/* Form kapsayıcısı */
.sensorFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    background-color: #fff; /* Beyaz arka plan */
    color: #333;
    max-width: 600px; /* Maksimum genişlik */
    width: 100%;
    margin: 0 auto;
    overflow-y: auto; /* İçerik taşarsa kaydırma */
    transition: all 0.3s ease;
}


/* Başlık */
.sensorFormTitle {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}



/* Form yapısı */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Form grubu */
.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

/* Etiket */
.formGroup label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #666;
}


/* Giriş, seçim ve metin alanları */
.formGroup input,
.formGroup select,
.formGroup textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px; /* Yuvarlatılmış kenarlar */
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
    border-color: #3498db; /* Mavi kenarlık */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Hafif mavi ışık efekti */
    outline: none;
}

/* Buton */
.sensorFormButton {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #2980b9; /* Yeşil arka plan */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    width: 100%; /* Butonu genişlikte tam yap */
}


.sensorFormButton:hover {
    background-color: #1c6ea4;
    transform: translateY(-2px);
}


.error {
    color: red;
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}


@media (max-width: 768px) {
    .sensorFormContainer {
        max-width: 90%;
        padding: 1.5rem;
    }

    .sensorFormButton {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}
